/*============ SEMANTIC ============*/
body{
    font-family: 'Lato', sans-serif;
    color:#888;
    line-height: 1.4;
    width: 100%
}
h1{
    margin-top:0;
    color:#222;
}
h2{
    color:#222;
}
.content_div{
    width:96%;
    padding: 0 2%;
    margin: 0 auto;
    max-width:536px;
}
.contact_card{
    display: block;
    width:100%;
    float:none;
    margin-bottom: 1rem;
}
/*=========== TYPOGRAPHY ===========*/
p{
  margin:.25em 0;
  color:#666;
}
a{
   color:#c22;
   text-decoration: none;
}
a:visited{
 color:#555;
}
a:hover{
  color:#333;
}
a:focus{
  color:#b61e1e;
}
a:active{
  color:#b61e1e;
}
.contact_name{
    color:#666;
    font-weight: bold;
}
.contact_type{
    color:#888;
}
.tables{
    margin-bottom: 2em;
    width:96%;
}
.sect_title{
    
}
.s_img_box{
    float:none;
    width: 100%;
}
.s_img_box img{
    width:100%;
    max-height: 250px;
    max-width: 250px;
    margin: 0 auto;
}
.s_sum h3, .s_sum h4, .s_sum h5{
    margin: 0;
}
.s_award{
    padding-bottom: 1%;
}
.s_program{
    padding-bottom: 2%;
}
/*============= CLASSES ============*/
@media screen and (min-width:450px) {
.contact_card {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 1rem;
}
}
@media screen and (min-width:500px) {
.s_img_box{
    float:left;
    width: 48%;
    margin-right: 4%;
}
.s_sum{
    float:left;
    width: 48%;
}
.s_name{
    margin-top:0;
}
.s_bio_box{
    clear:both;   
}
}
/*============ CLEARFIX ============*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
